* {
    font-family: 'Futura';
}

canvas {
    position: absolute;
    width: 480px;
    height: 320px;
    left: 50%;
    top: 50%;
    margin-left: -240px;
    margin-top: -160px;
}

#h1 {
    display: flex;
    justify-content: center;
    width: auto;
    padding-top: 50px;
}