#container {
    text-align: center;
    margin: 100px auto;
    justify-content: center;
}

#button {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 32px;
    padding: 15px 30px;
    background: #bc1939;
    color: #f9fafa;
    text-decoration: none;
    border-top: 1px solid #c94660;
    border-left: 1px solid #c94660;
    text-shadow: 1px 2px 0 #831127;
    box-shadow: 1px 0 0 #831127, 0 1px 0 #831127,
        2px 1px 0 #831127, 1px 2px 0 #831127,
        3px 2px 0 #831127, 2px 3px 0 #831127,
        4px 3px 0 #831127, 3px 4px 0 #831127,
        4px 4px 2px #000;
}

button:focus {
    outline: 0;
}